HTML { margin: 0px ! important; border: medium none ! important; }
.dragdrop-handle { cursor: move; -moz-user-select: none; }
.dragdrop-draggable {  }
/* ::::: https://www.google.com/css/modules/buttons/g-button.css ::::: */

@media screen, projection {
}
#gb { font: 13px/27px Arial,sans-serif; height: 102px; }
#gbz, #gbg { position: absolute; white-space: nowrap; top: 0px; height: 30px; z-index: 1000; }
#gbz { left: 0px; padding-left: 4px; }
#gbx3, #gbx4 { background-color: rgb(45, 45, 45); background-image: none; background-position: 0px -138px; background-repeat: repeat-x; border-bottom: 1px solid rgb(0, 0, 0); font-size: 24px; height: 29px; opacity: 1; position: absolute; top: 0px; width: 100%; z-index: 990; }
#gbx3 { left: 0px; }
#gbb { position: relative; }
#gbbw { left: 0px; position: absolute; top: 102px; width: 100%; }
.gbtcb { position: absolute; visibility: hidden; }
#gbz .gbtcb { right: 0px; }
.gbxx { display: none ! important; }
.gbxo { opacity: 0 ! important; }
.gbm { position: absolute; z-index: 999; top: -999px; visibility: hidden; text-align: left; border: 1px solid rgb(190, 190, 190); background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
#gbz .gbm, #gbz #gbs { left: 0px; }
.gbma { position: relative; top: -1px; border-style: solid dashed dashed; border-right: 3px dashed transparent; border-color: rgb(192, 192, 192) transparent transparent; display: inline-block; font-size: 0px; height: 0px; line-height: 0; width: 0px; border-width: 3px 3px 0px; padding-top: 1px; left: 4px; }
#gbztms1, #gbi4m1, #gbi4s, #gbi4t {  }
.gbtc, .gbmc, .gbmcc { display: block; list-style: none outside none; margin: 0px; padding: 0px; }
.gbmc { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 10px 0px; position: relative; z-index: 2; }
.gbt { position: relative; display: inline-block; line-height: 27px; padding: 0px; vertical-align: top; }
.gbt {  }
.gbzt, .gbgt { cursor: pointer; display: block; text-decoration: none ! important; }
.gbts { border-left: 1px solid transparent; border-right: 1px solid transparent; display: block; padding: 0px 5px; position: relative; z-index: 1000; }
.gbts {  }
.gbzt .gbts { display: inline; }
.gbtsa { padding-right: 9px; }
#gbz .gbzt, #gbz .gbgt, #gbg .gbgt { color: rgb(204, 204, 204) ! important; }
.gbtb2 { display: block; border-top: 2px solid transparent; }
.gbzt:hover, .gbzt:focus, .gbgt-hvr, .gbgt:focus { background-color: transparent; background-image: none; background-position: 0px -102px; background-repeat: repeat-x; outline: medium none; text-decoration: none ! important; }
#gbg6.gbgt-hvr, #gbg6.gbgt:focus { background-color: transparent; background-image: none; }
#gbi4i, #gbi4id { left: 5px; border: 0px none; height: 24px; position: absolute; top: 1px; width: 24px; }
#gbi4id { background-position: -44px -101px; }
#gbmpid { background-position: 0px 0px; }
#gbmpi, #gbmpid { border: medium none; display: inline-block; height: 48px; width: 48px; }
#gbmpiw { display: inline-block; line-height: 9px; padding-left: 20px; margin-top: 10px; position: relative; }
#gbmpi, #gbmpid, #gbmpiw {  }
.gbmt, .gbml1, .gbmlb, .gbmt:visited, .gbml1:visited, .gbmlb:visited { color: rgb(51, 102, 204) ! important; text-decoration: none ! important; }
.gbmt, .gbmt:visited { display: block; }
.gbml1, .gbmlb, .gbml1:visited, .gbmlb:visited { display: inline-block; margin: 0px 10px; }
.gbml1, .gbmlb, .gbml1:visited, .gbmlb:visited {  }
.gbmlb, .gbmlb:visited { line-height: 27px; }
.gbmlb-hvr, .gbmlb:focus { outline: medium none; text-decoration: underline ! important; }
.gbmlbw { color: rgb(204, 204, 204); margin: 0px 10px; }
.gbmt { padding: 0px 20px; }
.gbmt:hover, .gbmt:focus { background: none repeat scroll 0% 0% rgb(238, 238, 238); cursor: pointer; outline: 0px solid black; text-decoration: none ! important; }
.gbmh { border-top: 1px solid rgb(190, 190, 190); font-size: 0px; margin: 10px 0px; }
#gbd4 .gbmc { background: none repeat scroll 0% 0% rgb(245, 245, 245); padding-top: 0px; }
#gbmpdv { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 1px solid rgb(190, 190, 190); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12); position: relative; z-index: 1; }
.gbmtc { padding: 0px; margin: 0px; line-height: 27px; }
#gbmps {  }
#gbd4 .gbpc, #gbmpas .gbmt { line-height: 17px; }
#gbd4 .gbmtc { border-bottom: 1px solid rgb(190, 190, 190); }
#gbd4 .gbpc { display: inline-block; margin: 16px 0px 10px; padding-right: 50px; vertical-align: top; }
#gbd4 .gbpc {  }
.gbpc .gbps, .gbpc .gbps2 { display: block; margin: 0px 20px; }
.gbpc .gbps { color: rgb(0, 0, 0); font-weight: bold; }
.gbps2 { color: rgb(102, 102, 102); display: block; }
.gbp0 { display: none; }
.gbp0 .gbps2 { font-weight: bold; }
#gbmpal { border-spacing: 0px; border: 0px none; margin: 0px; white-space: nowrap; width: 100%; }
.gbmpala, .gbmpalb { font: 13px/27px Arial,sans-serif; padding: 10px 20px 0px; white-space: nowrap; }
.gbmpala { padding-left: 0px; text-align: left; }
.gbmpalb { padding-right: 0px; text-align: right; }
#gbmpasb .gbps { color: rgb(0, 0, 0); }
#gbmpal .gbqfbb { margin: 0px 20px; }
.gbp0 .gbps {  }
a.gbiba { margin: 8px 20px 10px; }
.gbmpiaw { display: inline-block; padding-right: 10px; margin-bottom: 6px; margin-top: 10px; }
.gbxv { visibility: hidden; }
.gbmpiaa { display: block; margin-top: 10px; }
.gbmpia { border: medium none; display: block; height: 48px; width: 48px; }
.gbmpnw { display: inline-block; height: auto; margin: 16px 0px 18px; vertical-align: top; }
.gbqfb, .gbqfba, .gbqfbb { border-radius: 2px 2px 2px 2px; cursor: default ! important; display: inline-block; font-weight: bold; height: 29px; line-height: 29px; min-width: 54px; padding: 0px 8px; text-align: center; text-decoration: none ! important; -moz-user-select: none; }
.gbqfb:focus, .gbqfba:focus, .gbqfbb:focus { border: 1px solid rgb(77, 144, 254); box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset; outline: medium none; }
.gbqfb::-moz-focus-inner, .gbqfba::-moz-focus-inner, .gbqfbb::-moz-focus-inner { border: 0px none; }
.gbqfba, .gbqfbb { border: 1px solid rgba(0, 0, 0, 0.1); color: rgb(68, 68, 68) ! important; font-size: 11px; }
.gbqfb { background-color: rgb(77, 144, 254); background-image: -moz-linear-gradient(center top , rgb(77, 144, 254), rgb(71, 135, 237)); border: 1px solid rgb(48, 121, 237); color: rgb(255, 255, 255) ! important; margin: 0px; }
.gbqfb:active { background-color: inherit; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
.gbqfbb { background-color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(251, 251, 251)); }
.gbqfba:active, .gbqfbb:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
#gbql, #gbgsi, #gbgsa, .gbqfi, .gbmai, .gbp0i, .gbmppci, .gbqfh #gbql { background-image: url('k1_a31af7ac.png'); background-size: 294px 45px; }
@media screen and (min-resolution: 1.25dppx), not all, not all, not all {
	#gbql, #gbgsi, #gbgsa, .gbqfi, .gbmai, .gbp0i, .gbmppci, .gbqfh #gbql { background-image: url('k2_aca6bcc6.png'); }
}
#gbd1, #gbd1 .gbmc { width: 440px; height: 190px; }
#gbd3, #gbd3 .gbmc { width: 440px; height: 8em; }
#gb { height: 102px; -moz-user-select: none; }
#gbbw { top: 102px; }
.gbxx { display: none ! important; }
#gbq, #gbu { position: absolute; top: 0px; white-space: nowrap; }
#gbu { height: 71px; }
#gbu, #gbq1, #gbq3 { z-index: 987; }
#gbq { left: 0px; width: 100%; z-index: 986; }
#gbq2 { top: 0px; z-index: 986; }
#gbu { right: 0px; height: 30px; margin-right: 28px; padding-bottom: 0px; padding-top: 20px; }
#gbx1, #gbx2 { background: none repeat scroll 0% 0% rgb(241, 241, 241); border-bottom: 1px solid rgb(229, 229, 229); border-color: rgb(229, 229, 229); height: 71px; position: absolute; top: 0px; width: 100%; z-index: 985; }
#gbx1 { left: 0px; }
#gbq1 { left: 0px; margin: 0px 0px 0px 44px; padding: 0px; position: absolute; }
#gbql { background-repeat: no-repeat; background-position: -178px 0px; display: block; height: 45px; width: 116px; }
.gbqla { display: inline-block; outline: medium none; position: relative; }
.gbqlca { cursor: pointer; height: 100%; position: absolute; top: 0px; width: 100%; left: 0px; }
#gbqlt { border: 0px none; border-collapse: collapse; border-spacing: 0px; margin: 0px; }
#gbqlw { display: table-cell; height: 71px; padding: 0px 16px 0px 0px; position: relative; vertical-align: middle; }
#gbq2 { display: block; margin-left: 220px; padding-bottom: 0px; padding-top: 20px; }
#gbqf { display: block; margin: 0px; max-width: 512px; min-width: 200px; white-space: nowrap; }
.gbqff { border: medium none; display: inline-block; margin: 0px; padding: 0px; vertical-align: top; width: 100%; }
.gbqff {  }
.gbqfqw, #gbqfb, .gbqfwa { vertical-align: top; }
#gbqfaa, #gbqfab, #gbqfqwb { position: absolute; }
#gbqfaa { left: 0px; }
#gbqfab { right: 0px; }
.gbqfqwb, .gbqfqwc { right: 0px; left: 0px; }
.gbqfqwb { padding: 0px 8px; }
#gbqfbw { margin: 0px 15px; display: inline-block; vertical-align: top; }
#gbqfbw {  }
.gbqfi { background-position: -33px 0px; display: inline-block; height: 13px; margin: 7px 19px; width: 14px; }
.gbqfi {  }
.gbqfqw { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-right: 1px solid rgb(217, 217, 217); border-width: 1px; border-style: solid; border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 1px 1px 1px 1px; height: 27px; }
#gbqfqw { position: relative; }
.gbqfwa { display: inline-block; width: 100%; }
.gbqfwa {  }
.gbqfqw:active, .gbqfqwf { border: 1px solid rgb(77, 144, 254); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; outline: medium none; }
#gbqfq, #gbqfqb, #gbqfqc { background: none repeat scroll 0% 0% transparent; border: medium none; height: 19px; margin-top: 4px; padding: 0px; vertical-align: top; width: 100%; }
#gbqfq:focus, #gbqfqb:focus, #gbqfqc:focus { outline: medium none; }
#gbu .gbm, #gbu #gbs { right: 5px; }
#gbu .gbgt, #gbu .gbgt:active { color: rgb(102, 102, 102); }
#gbu .gbt { margin-left: 15px; }
#gbg4 { padding-right: 16px; }
#gbd1 .gbmc, #gbd3 .gbmc { padding: 0px; }
.gbmwc { right: 0px; position: absolute; top: -999px; width: 440px; z-index: 999; }
.gbmsg { display: none; }
.gbmab, .gbmac, .gbmad, .gbmae { left: 5px; border-style: dashed dashed solid; border-color: transparent transparent rgb(190, 190, 190); border-width: 0px 10px 10px; cursor: default; display: inline-block; font-size: 0px; height: 0px; line-height: 0; position: absolute; top: 0px; width: 0px; z-index: 1000; }
.gbmab, .gbmac { visibility: hidden; }
.gbmac { border-bottom-color: rgb(255, 255, 255); }
.gbmai { background-position: -163px -40px; opacity: 0.8; font-size: 0px; line-height: 0; position: absolute; height: 4px; width: 7px; }
#gbgs3 { background-color: rgb(248, 248, 248); background-image: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(236, 236, 236)); border: 1px solid rgb(198, 198, 198); border-radius: 2px 2px 2px 2px; padding: 0px 10px; position: relative; }
#gbgsi { background-position: -163px 0px; height: 10px; opacity: 0.8; position: absolute; top: 8px; width: 10px; left: 10px; }
#gbgsa { background-position: -163px -15px; height: 11px; position: absolute; top: 8px; width: 10px; left: 100%; }
#gbg3:active #gbgsa { background-position: 0px 0px; }
#gbgss { display: inline-block; width: 18px; }
#gbi3 {  }
.gbgt-hvr #gbgs3, #gbg3:focus #gbgs3, #gbg3:active #gbgs3 { background-color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(236, 236, 236)); border-color: rgb(187, 187, 187); }
#gbg3:active #gbgs3 { border-color: rgb(182, 182, 182); }
#gbg3:active #gbgs3 { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset; }
#gbgs3 .gbmab { margin: 40px 0px 0px; }
#gbgs3 .gbmac { margin: 41px 0px 0px; }
.gbsr #gbgs3 .gbmac { border-bottom-color: rgb(245, 245, 245); }
.gbsr #gbd3, .gbsr #gbd3 .gbmc { background: none repeat scroll 0% 0% rgb(245, 245, 245); min-height: 268px; width: 480px; }
#gbgs1 { display: block; overflow: hidden; position: relative; }
.gbg1t { top: 0px; }
#gbi1a { background-color: rgb(209, 72, 54); background-image: -moz-linear-gradient(center top , rgb(221, 75, 57), rgb(209, 72, 54)); border: 1px solid rgb(193, 56, 40); border-radius: 2px 2px 2px 2px; display: block; height: 27px; width: 27px; }
#gbg1:focus #gbi1a, #gbg1:active #gbi1a { background-color: rgb(176, 40, 26); background-image: -moz-linear-gradient(center top , rgb(221, 75, 57), rgb(176, 40, 26)); border-color: rgb(153, 42, 27); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
#gbi1a.gbid { background-color: rgb(248, 248, 248); background-image: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(236, 236, 236)); border-color: rgb(198, 198, 198); }
.gbgt-hvr #gbi1a.gbid, #gbg1:focus #gbi1a.gbid, #gbg1:active #gbi1a.gbid { background-color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(236, 236, 236)); border-color: rgb(187, 187, 187); }
#gbg1:active #gbi1a.gbid { border-color: rgb(182, 182, 182); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
#gbi1, #gbi1c { left: 0px; bottom: 1px; color: rgb(255, 255, 255); display: block; font-size: 14px; font-weight: bold; position: absolute; text-align: center; text-shadow: 0px 1px rgba(0, 0, 0, 0.1); transition-property: bottom; -moz-user-select: none; width: 100%; }
.gbgt-hvr #gbi1, #gbg1:focus #gbi1 { text-shadow: 0px 1px rgba(0, 0, 0, 0.3); }
#gbi1.gbids, .gbgt-hvr #gbi1.gbids, #gbg1:focus #gbi1.gbids, #gbg1:active #gbi1.gbids { color: rgb(153, 153, 153); text-shadow: none; }
#gbg1 .gbmab { margin: 41px 0px 0px; }
#gbg1 .gbmac { margin: 42px 0px 0px; }
.gbtn { transition: right 0.218s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s; }
#gbi4t { display: block; margin: 1px 0px; overflow: hidden; text-overflow: ellipsis; }
#gbg6 #gbi4t, #gbg4 #gbgs4d { color: rgb(102, 102, 102); text-shadow: none; }
#gb_70, #gb_71 { margin-right: 15px; display: inline-block; }
#gbgs4, .gbgs { background-color: rgb(248, 248, 248); background-image: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(236, 236, 236)); border: 1px solid rgb(198, 198, 198); display: block; border-radius: 2px 2px 2px 2px; position: relative; }
.gbg4p { margin-top: 0px; }
#gbg4 #gbgs4 { height: 27px; position: relative; width: 27px; }
.gbgt-hvr #gbgs4, #gbg4:focus #gbgs4, #gbg4:active #gbgs4, #gbg_70:focus .gbgs, #gbg_71:focus .gbgs, #gbg_70:active .gbgs, #gbg_71:active .gbgs, #gbg7:focus .gbgs, #gbg7:active .gbgs { background-color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(236, 236, 236)); border-color: rgb(187, 187, 187); }
#gbg4:active #gbgs4, #gb_70:active .gbgs, #gb_71:active .gbgs, #gbg7:active .gbgs { border-color: rgb(182, 182, 182); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
#gbi4i, #gbi4id, #gbi4ip { left: 0px; height: 27px; position: absolute; top: 0px; width: 27px; }
#gbmpi, #gbmpid { margin-right: 0px; height: 96px; width: 96px; }
#gbi4id { background-position: 0px -101px; }
#gbgs4 .gbmai { left: 33px; top: 12px; }
#gbgs4 .gbmab, #gbgs4 .gbmac { left: 5px; }
#gbgs4 .gbmab { margin: 40px 0px 0px; }
#gbgs4 .gbmac { margin: 41px 0px 0px; border-bottom-color: rgb(255, 255, 255); }
#gbmppc { position: relative; }
#gbmppc .gbmt { padding-left: 55px; padding-bottom: 10px; padding-top: 10px; }
.gbmppci { left: 20px; background-position: -33px -18px; height: 25px; position: absolute; top: 11px; width: 25px; }
#gb #gbx1, #gb #gbx3 { left: 0px; }
#gbx1, #gb #gbx1, #gbq, #gbu, #gb #gbq, #gb #gbu { top: 30px; }
#gb #gbu { top: 30px; }
#gbzw #gbz { padding-left: 0px; z-index: 991; }
#gbx3 { border-color: rgb(0, 0, 0); background-color: rgb(45, 45, 45); opacity: 1; }
#gbz .gbzt, #gbz .gbgt { color: rgb(187, 187, 187) ! important; font-weight: bold; }
#gbq .gbgt-hvr, #gbq .gbgt:focus, #gbz .gbz0l .gbts, #gbz .gbzt:hover, #gbz .gbzt:focus, #gbz .gbgt-hvr, #gbz .gbgt:focus, #gbu .gbz0l .gbts, #gbu .gbzt:hover, #gbu .gbzt:focus, #gbu .gbgt-hvr, #gbu .gbgt:focus { background-color: transparent; background-image: none; }
#gbz .gbz0l .gbts, #gbz .gbzt:hover, #gbz .gbzt:focus, #gbz .gbgt-hvr, #gbz .gbgt:focus { color: rgb(255, 255, 255) ! important; }
#gbz .gbma { border-top-color: rgb(170, 170, 170); }
#gbz .gbzt:hover .gbma, #gbz .gbzt:focus .gbma, #gbz .gbgt-hvr .gbma, #gbz .gbgt:focus .gbma { border-top-color: rgb(255, 255, 255); }
#gbz .gbto .gbts, #gbd .gbmt { color: rgb(0, 0, 0) ! important; font-weight: bold; }
#gbd .gbmt:hover, #gbd .gbmt:focus { background-color: rgb(245, 245, 245); }
#gbz .gbts { padding: 0px 9px; z-index: 991; }
#gbqlw { cursor: pointer; }
#gbzw { left: 0px; height: 30px; margin-left: 34px; position: absolute; top: 0px; z-index: 991; }
#gbz { height: 30px; }
#gbzw .gbt { line-height: 27px; }
#gbmpicb, #gbmpicp { bottom: 0px; color: rgb(255, 255, 255); display: block; font-size: 9px; font-weight: bold; position: absolute; text-align: center; text-decoration: none ! important; transition: opacity 0.218s ease-in-out 0s; white-space: normal; width: 96px; }
#gbmpicb { background-color: rgb(77, 144, 254); opacity: 0.7; padding: 7px 0px; transition: background-color 0.218s ease-in-out 0s; }
#gbmpicp { padding: 12px 0px 7px; }
#gbmpas { max-height: 276px; }
#gbmm { max-height: 530px; }
.gbsb { display: block; position: relative; }
.gbsbic { overflow: auto; }
.gbsbis .gbsbt, .gbsbis .gbsbb { left: 0px; margin-right: 0px; opacity: 0; position: absolute; width: 100%; }
.gbsb .gbsbt:after, .gbsb .gbsbb:after { content: ""; display: block; height: 0px; left: 0px; position: absolute; width: 100%; }
.gbsbis .gbsbt { background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.2), transparent); height: 6px; top: 0px; }
.gbsb .gbsbt:after { border-top: 1px solid rgba(0, 0, 0, 0.3); border-color: rgba(0, 0, 0, 0.3); top: 0px; }
.gbsb .gbsbb { background-image: -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.2), transparent); bottom: 0px; height: 4px; }
.gbsb .gbsbb:after { border-bottom: 1px solid rgba(0, 0, 0, 0.3); border-color: rgba(0, 0, 0, 0.3); bottom: 0px; }
html { margin: 0px; padding: 0px; border: 0px none; vertical-align: baseline; }
body { margin: 0px; padding: 0px; border: 0px none; vertical-align: baseline; background: none repeat scroll 0% 0% rgb(255, 255, 255); font-family: "Arial","Helvetica",sans-serif; color: rgb(34, 34, 34); font-size: 13px; height: 100%; overflow-y: hidden; overflow-x: auto; }
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn { margin: 0px; padding: 0px; border: 0px none; vertical-align: baseline; }
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, table { margin: 0px; padding: 0px; border: 0px none; vertical-align: baseline; }
tbody, tfoot, thead, tr { margin: 0px; padding: 0px; border: 0px none; vertical-align: baseline; }
th, td { margin: 0px; padding: 0px; border: 0px none; vertical-align: baseline; text-align: left; font-weight: normal; }
table { border-collapse: separate; border-spacing: 0px; }
input::-moz-focus-inner, iframe { border: 0px none; }
html { height: 100%; background-color: rgb(255, 255, 255); }
.GGVPNNKCLVB { position: fixed; overflow: hidden; width: 100%; height: 100%; }
h1, h2, h3, h4, h5 { font-size: 16px; line-height: 24px; font-weight: normal; color: rgb(34, 34, 34); }
li { line-height: 17px; }
a { text-decoration: none; color: rgb(17, 85, 204); cursor: pointer; }
a:visited { color: rgb(102, 17, 204); }
a:active { color: rgb(209, 72, 54); }
input[type="text"], input[type="password"] { border-right: 1px solid rgb(217, 217, 217); border-width: 1px; border-style: solid; border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; vertical-align: top; display: inline-block; background-color: rgb(255, 255, 255); line-height: 27px; padding-left: 8px; color: rgb(34, 34, 34); height: 29px; }
input[type="text"]:hover, input[type="password"]:hover, textarea:hover, .editable:hover { border-right: 1px solid rgb(185, 185, 185); border-width: 1px; border-style: solid; border-color: rgb(160, 160, 160) rgb(185, 185, 185) rgb(185, 185, 185); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, .editable:focus { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; outline: medium none; border: 1px solid rgb(77, 144, 254); }
#gbqfq { border: medium none ! important; box-shadow: none ! important; line-height: normal ! important; }
.gux-confirm-panel-r1, .gux-confirm-panel-r2, .gux-confirm-panel-r3, .gux-confirm-panel-r4 { display: none; }
.gux-confirm-panel-c { padding: 7px 16px ! important; background: none repeat scroll 0% 0% rgb(249, 237, 190) ! important; border: 1px solid rgb(240, 195, 109); border-radius: 2px 2px 2px 2px; line-height: 16px; font-size: 11px; position: relative; }
.gux-confirm-panel-message { color: inherit ! important; font-weight: inherit ! important; }
.GGVPNNKCCWB { text-align: center; padding: 16px; }
.GGVPNNKCCWB .gux-confirm-panel-c { display: inline-block; }
.GGVPNNKCGVB { position: relative; overflow: hidden; height: 58px; border-bottom: 1px solid rgb(235, 235, 235); }
.GGVPNNKCKVB { font-size: 20px; position: absolute; left: 44px; top: 18px; color: rgb(221, 75, 57); }
.GGVPNNKCKVB a, .GGVPNNKCKVB a:hover, .GGVPNNKCKVB a:visited { color: rgb(221, 75, 57); }
.GGVPNNKCIVB { position: relative; font-size: 20px; font-weight: normal; color: rgb(34, 34, 34); white-space: nowrap; overflow: hidden; margin-top: 14px; min-height: 29px; margin-right: 44px; }
.GGVPNNKCHVB { position: absolute; left: 50px; top: 40px; font-size: 10px; padding: 1px; }
.GGVPNNKCCYB {  }
.GGVPNNKCBYB { background-color: rgb(249, 237, 190); border-radius: 6px 6px 6px 6px; }
.GGVPNNKCBYB a { color: rgb(34, 34, 34); padding: 7px; }
.GGVPNNKCJVB { line-height: 24px; margin-bottom: 14px; }
.GGVPNNKCP-B { color: rgb(102, 102, 102); }
.GGVPNNKCNYB { color: rgb(17, 85, 204); text-decoration: none; cursor: pointer; white-space: nowrap; }
.GGVPNNKCI-B { color: rgb(17, 85, 204); text-decoration: none; cursor: pointer; white-space: nowrap; padding-left: 8px; }
.GGVPNNKCEYB { color: rgb(170, 170, 170) ! important; }
.GGVPNNKCPXB { color: red; vertical-align: baseline; font-size: 0.83em; position: relative; top: -0.4em; }
.GGVPNNKCPYB { display: inline-block; }
.GGVPNNKCDXB { overflow: hidden; background: url('undefined') no-repeat scroll 0px 0px transparent; display: inline-block; width: 5px; height: 7px; transition: all 0.218s ease 0s; transform: rotate(90deg); opacity: 0.8; }
.GGVPNNKCGWB .GGVPNNKCDXB { transform: rotate(0deg); }
.GGVPNNKCJWB { overflow-y: scroll ! important; }
.GGVPNNKCKWB { padding-right: 28px; }
.GGVPNNKCPVB { position: absolute; right: 44px; top: 3px; font-size: 11px; color: rgb(136, 136, 136); }
.GGVPNNKCN-B { position: relative; }
.GGVPNNKCK0B, .GGVPNNKCK0B .GGVPNNKCLVB { background-color: rgb(245, 245, 245); }
.GGVPNNKCFWB { overflow-y: hidden ! important; }
.GGVPNNKCFWB:hover { overflow-y: auto; }
.GGVPNNKCOUB { cursor: pointer; }
.GGVPNNKCOUB img { opacity: 0.667; margin: 0px 6px 2px; }
.GGVPNNKCOUB:hover img { opacity: 1; }
.GGVPNNKCJAC { cursor: pointer; font-size: 13px; display: block; }
.GGVPNNKCFAC { position: relative; margin: 0px; }
.GGVPNNKCGAC { padding: 16px 0px 16px 28px; }
.GGVPNNKCEAC { font-size: 13px; padding: 0px; margin: 0px; position: relative; }
.GGVPNNKCA5B { padding-bottom: 5px; }
.GGVPNNKCEAC div a, .GGVPNNKCJAC a, .GGVPNNKCJAC a:visited { display: block; overflow: hidden; position: relative; white-space: nowrap; text-decoration: none; color: rgb(51, 51, 51); cursor: pointer; font-size: 13px; line-height: 30px; padding-left: 16px; }
.GGVPNNKCIAC, .GGVPNNKCIAC .GGVPNNKCIAC { margin-left: 12px; }
.GGVPNNKCIAC .GGVPNNKCL5B a { padding-left: 4px; }
.GGVPNNKCEAC div a { position: relative; }
.GGVPNNKCC5B { position: absolute; top: 5px; bottom: 5px; left: 0px; right: 0px; }
.GGVPNNKCEAC div.GGVPNNKCL5B a:hover, .GGVPNNKCEAC div.GGVPNNKCB5B a:hover { color: rgb(34, 34, 34); background-color: rgb(238, 238, 238); }
.GGVPNNKCA0B > div > a span, .GGVPNNKCA0B > a span { color: rgb(209, 72, 54); }
.GGVPNNKCEAC div.GGVPNNKCB5B, .GGVPNNKCB5B > a .GGVPNNKCN5B { cursor: default; }
.GGVPNNKCGWB .GGVPNNKCIAC { display: none; }
.GGVPNNKCN5B { display: block; overflow: hidden; text-overflow: ellipsis; padding-left: 12px; }
.GGVPNNKCN5B > h3 { display: inline; }
.GGVPNNKCN5B > * { font-size: 13px; }
.GGVPNNKCEAC div.GGVPNNKCBAC > a .GGVPNNKCN5B { padding-left: 0px; }
.GGVPNNKCIAC div.GGVPNNKCBAC > a .GGVPNNKCN5B { padding-left: 4px; }
.GGVPNNKCKAC { display: inline-block; width: 17px; height: 20px; position: absolute; top: 4px; left: 0px; margin-left: -1px; z-index: 10; cursor: pointer; text-align: center; }
.GGVPNNKCKAC:hover { background-color: rgb(238, 238, 238); }
.GGVPNNKCE5B .GGVPNNKCDXB { position: absolute; top: 7px; left: 6px; }
.GGVPNNKCE5B:hover .GGVPNNKCDXB { opacity: 1; }
.GGVPNNKCD5B { height: 16px; width: 16px; overflow: hidden; background: url('undefined') no-repeat scroll 0px 0px transparent; }
.GGVPNNKCBAC .GGVPNNKCD5B { display: none; }
.GGVPNNKCH5B { position: absolute; top: 7px; opacity: 0.7; left: 4px; }
.GGVPNNKCEAC div.GGVPNNKCL5B a:hover .GGVPNNKCH5B, .GGVPNNKCE5B:hover .GGVPNNKCH5B, .GGVPNNKCA0B .GGVPNNKCH5B { opacity: 1; }
.GGVPNNKCE5B .GGVPNNKCH5B { left: 16px; }
.GGVPNNKCL5B, .GGVPNNKCB5B { position: relative; }
.GGVPNNKCO5B { padding-right: 20px; }
.GGVPNNKCM5B { display: block; float: right; position: relative; top: 7px; margin-left: 3px; font-size: 11px; color: rgb(102, 102, 102) ! important; background-color: rgb(238, 238, 238); padding: 2px 3px; line-height: 12px; font-weight: normal; }
.GGVPNNKCL5B a:hover .GGVPNNKCM5B, .GGVPNNKCB5B a:hover .GGVPNNKCM5B { background-color: rgb(204, 204, 204); color: rgb(51, 51, 51) ! important; }
.GGVPNNKCI5B { display: none; }
.GGVPNNKCL5B:hover .GGVPNNKCI5B, .GGVPNNKCE5B:hover .GGVPNNKCI5B, .GGVPNNKCP4B { display: inline; }
.GGVPNNKCL5B .GGVPNNKCDAC, .GGVPNNKCB5B .GGVPNNKCDAC { top: 8px; right: 3px; z-index: 2; position: absolute; height: 13px; width: 13px; overflow: hidden; }
.GGVPNNKCDAC input { border: 0px none; padding: 0px; outline: medium none; }
a.GGVPNNKCCAC { height: 13px; width: 13px; overflow: hidden; background: url('undefined') no-repeat scroll 0px 0px transparent; display: inline-block; padding: 0px ! important; }
a.GGVPNNKCCAC:hover, .GGVPNNKCP4B a.GGVPNNKCCAC { height: 13px; width: 13px; overflow: hidden; background: url('undefined') no-repeat scroll 0px 0px transparent; }
.GGVPNNKCLAC { font-weight: bold; }
.GGVPNNKCP5B { padding: 4px 8px; }
.GGVPNNKCP5B div { background-color: rgb(249, 237, 190); border: 2px solid rgb(249, 237, 190); color: rgb(34, 34, 34); padding: 4px; line-height: 16px; border-radius: 6px 6px 6px 6px; text-align: center; }
.GGVPNNKCE5B { position: relative; }
.GGVPNNKCG5B { font-size: 11px; color: rgb(68, 68, 68); text-align: center; padding: 16px 0px 16px 16px; }
.GGVPNNKCG5B a { white-space: nowrap; }
.GGVPNNKCG5B a:visited { color: rgb(17, 85, 204); }
.GGVPNNKCK5B { border-top: 1px solid rgb(235, 235, 235); margin-top: 9px; margin-bottom: 10px; }
.GGVPNNKCONC { position: relative; top: 3px; height: 15px; width: 15px; }
.GGVPNNKCD4B { width: 100%; margin-right: 0px; height: 8px; position: absolute; top: 0px; left: 0px; opacity: 0; border-top: 1px solid rgb(235, 235, 235); }
.GGVPNNKCCNB, .GGVPNNKCIMB { position: relative; }
.GGVPNNKCDNB, .GGVPNNKCDNB > * { outline: medium none ! important; }
.GGVPNNKCFMB { width: 198px; position: absolute; left: 0px; }
.GGVPNNKCFLB { margin-left: 220px; }
.GGVPNNKCFLB:focus { outline: medium none; }
.GGVPNNKCMMB { position: absolute; width: 8px; top: 0px; bottom: 0px; right: -20px; cursor: col-resize; }
.GGVPNNKCMMB .GGVPNNKCOMB { display: block; position: absolute; left: 5px; top: 0px; bottom: 0px; border-left: 1px solid rgb(235, 235, 235); }
.GGVPNNKCMMB .GGVPNNKCCLB { visibility: visible ! important; }
html { min-width: 700px; overflow-x: auto; overflow-y: hidden; }
body { min-width: 700px; overflow: visible; }
#gb, #gbx1 { min-width: 700px; }
.GGVPNNKCLKB { overflow: hidden; min-height: 30px; }
.GGVPNNKCHMB { position: absolute; right: 0px; top: 0px; padding-left: 16px; }
.GGVPNNKCHMB > div > div { display: inline-block; margin-right: 0px; margin-left: 16px; }
.GGVPNNKCHMB > div > div:first-child { margin-left: 0px; }
.GGVPNNKCALB { transform: rotate(180deg); vertical-align: middle; }
.GGVPNNKCHLB { transform: rotate(0deg); vertical-align: middle; }
.GGVPNNKCBLB { border: 1px solid rgb(235, 235, 235); padding: 4px; cursor: pointer ! important; }
.GGVPNNKCBLB:hover { background-color: rgb(238, 238, 238); }
.GGVPNNKCCLB:hover { visibility: visible; }
.GGVPNNKCCLB { visibility: hidden; position: absolute; right: 2px; top: 0px; bottom: 0px; padding: 8px 0px 8px 8px; }
.GGVPNNKCILB { display: none; position: absolute; padding: 8px 0px; }
.gux-confirm-panel-r1 { background-color: rgb(255, 238, 136); border-left: 1px solid rgb(255, 253, 240); border-right: 1px solid rgb(255, 253, 240); margin: 0px 1px; padding-top: 1px; }
.gux-confirm-panel-r2 { background-color: rgb(255, 238, 136); border-left: 1px solid rgb(255, 253, 240); border-right: 1px solid rgb(255, 253, 240); padding-top: 1px; }
.gux-confirm-panel-c { background-color: rgb(255, 238, 136); padding: 2px 15px; }
.gux-confirm-panel-message { color: rgb(0, 0, 0); font-weight: bold; }
.GGVPNNKCCNB, .GGVPNNKCIMB { position: relative; }
.GGVPNNKCDNB, .GGVPNNKCDNB > * { outline: medium none ! important; }
.GGVPNNKCFMB { width: 198px; position: absolute; left: 0px; }
.GGVPNNKCFLB { margin-left: 220px; }
.GGVPNNKCFLB:focus { outline: medium none; }
.GGVPNNKCMMB { position: absolute; width: 8px; top: 0px; bottom: 0px; right: -20px; cursor: col-resize; }
.GGVPNNKCMMB .GGVPNNKCOMB { display: block; position: absolute; left: 5px; top: 0px; bottom: 0px; border-left: 1px solid rgb(235, 235, 235); }
.GGVPNNKCMMB .GGVPNNKCCLB { visibility: visible ! important; }
html { min-width: 700px; overflow-x: auto; overflow-y: hidden; }
body { min-width: 700px; overflow: visible; }
#gb, #gbx1 { min-width: 700px; }
.GGVPNNKCLKB { overflow: hidden; min-height: 30px; }
.GGVPNNKCHMB { position: absolute; right: 0px; top: 0px; padding-left: 16px; }
.GGVPNNKCHMB > div > div { display: inline-block; margin-right: 0px; margin-left: 16px; }
.GGVPNNKCHMB > div > div:first-child { margin-left: 0px; }
.GGVPNNKCALB { transform: rotate(180deg); vertical-align: middle; }
.GGVPNNKCHLB { transform: rotate(0deg); vertical-align: middle; }
.GGVPNNKCBLB { border: 1px solid rgb(235, 235, 235); padding: 4px; cursor: pointer ! important; }
.GGVPNNKCBLB:hover { background-color: rgb(238, 238, 238); }
.GGVPNNKCCLB:hover { visibility: visible; }
.GGVPNNKCCLB { visibility: hidden; position: absolute; right: 2px; top: 0px; bottom: 0px; padding: 8px 0px 8px 8px; }
.GGVPNNKCILB { display: none; position: absolute; padding: 8px 0px; }
.GGVPNNKCMR { cursor: pointer; font-size: 11px; font-weight: bold; text-align: center; margin-right: 16px; white-space: nowrap; height: 27px; line-height: 27px; min-width: 54px; outline: 0px none; padding: 0px 8px; border-radius: 2px 2px 2px 2px; display: inline-block; }
.GGVPNNKCMR:hover { border: 1px solid rgb(198, 198, 198); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }
.GGVPNNKCMR img.GGVPNNKCPR { vertical-align: middle; margin-top: -2px; opacity: 0.667; }
.GGVPNNKCFS img.GGVPNNKCPR, .GGVPNNKCOR img.GGVPNNKCPR, .GGVPNNKCMR:hover img.GGVPNNKCPR { opacity: 1; }
.GGVPNNKCDS { min-width: 34px; padding: 0px 4px; }
.GGVPNNKCNR { cursor: default; opacity: 0.5; pointer-events: none; }
.GGVPNNKCBS { border-right-color: transparent; margin-right: 0px; }
.GGVPNNKCCS { border-radius: 0px 0px 0px 0px; margin-left: -1px; margin-right: -1px; }
.GGVPNNKCES { margin-left: 0px; }
.GGVPNNKCBS { border-radius: 2px 0px 0px 2px; }
.GGVPNNKCES { border-radius: 0px 2px 2px 0px; margin-left: -1px; }
.jfk-button-standard { color: rgb(102, 102, 102); border: 1px solid rgba(0, 0, 0, 0.1); background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241)); }
.jfk-button-standard:hover { border: 1px solid rgb(198, 198, 198); color: rgb(51, 51, 51); background-color: rgb(248, 248, 248); background-image: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(241, 241, 241)); }
.jfk-button-standard:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
.jfk-button-standard:focus { outline: medium none; border: 1px solid rgb(77, 144, 254); z-index: 4; }
.jfk-button-standard.GGVPNNKCNR { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.05); color: rgb(184, 184, 184); }
.GGVPNNKCIW { height: 4px; width: 7px; overflow: hidden; background: url('undefined') no-repeat scroll 0px 0px transparent; display: inline-block; margin-left: 7px; margin-bottom: 1px; opacity: 0.8; }
.GGVPNNKCJW:hover .GGVPNNKCIW { opacity: 1; }
.goog-button-base { cursor: default; font: 0.846em/1 Arial,sans-serif; letter-spacing: normal; margin: 0px 1px; outline: medium none; text-align: center; text-indent: 0px; text-transform: none; vertical-align: baseline; white-space: nowrap; word-spacing: normal; }
.GGVPNNKCFQB { overflow: hidden; }
.GGVPNNKCMQB { border-bottom: 1px solid rgb(235, 235, 235); padding-top: 8px; padding-bottom: 8px; }
.GGVPNNKCJSB .GGVPNNKCNQB { padding-right: 20px; }
.GGVPNNKCOQB { float: right; }
.GGVPNNKCJQB { white-space: nowrap; font-weight: normal; float: right; font-size: 13px; color: rgb(102, 102, 102); }
.GGVPNNKCLRB { margin-right: 16px; }
.GGVPNNKCLSB { font-weight: bold; }
.GGVPNNKCABB.GGVPNNKCDQB { border-top: 1px solid rgb(221, 221, 221); }
.GGVPNNKCABB.GGVPNNKCAQB { border-bottom: 1px solid rgb(221, 221, 221); }
.GGVPNNKCMRB, .GGVPNNKCORB { padding-bottom: 5px; min-width: 100%; }
.GGVPNNKCHSB { font-size: 18px; }
.GGVPNNKCKSB { font-size: 18px; background-color: rgb(235, 238, 248); }
.GGVPNNKCESB { white-space: nowrap; }
.GGVPNNKCJSB .GGVPNNKCESB { display: inline-block; vertical-align: baseline; margin-top: 4px; }
.GGVPNNKCMSB { color: rgb(34, 0, 204); cursor: pointer; white-space: nowrap; display: inline-block; vertical-align: bottom; }
.GGVPNNKCJSB .GGVPNNKCMSB { position: relative; top: 1px; }
.GGVPNNKCMSB img { opacity: 0.667; }
.GGVPNNKCMSB img:hover { opacity: 1; }
.GGVPNNKCHRB { width: 100%; }
.GGVPNNKCEQB { padding: 8px 16px; color: rgb(34, 0, 204); background-color: rgb(255, 238, 136); border: 1px solid rgb(188, 188, 188); position: absolute; bottom: 4px; right: 4px; }
.GGVPNNKCIQB { display: inline-block; vertical-align: top; overflow: hidden; padding-left: 8px ! important; }
.GGVPNNKCJSB .GGVPNNKCIQB { position: relative; top: 1px; }
.GGVPNNKCHQB { text-align: right; padding-bottom: 10px; }
.GGVPNNKCHPB { text-align: center; }
.GGVPNNKCLQB img { height: 20px; }
.GGVPNNKCDVC { color: rgb(119, 119, 119); text-align: center; padding: 4px; }
.GGVPNNKCCVC { color: rgb(5, 71, 192); }
.GGVPNNKCE3B { display: inline; white-space: nowrap; padding: 0px 2px; }
.GGVPNNKCC3B { color: rgb(238, 68, 68); font-size: 13px; }
.GGVPNNKCD3B { font-size: 13px; }
.GGVPNNKCIUB { display: inline; white-space: nowrap; padding: 0px 2px; }
.GGVPNNKCHUB { color: rgb(238, 68, 68); font-size: 13px; }
.GGVPNNKCGUB { font-size: 13px; }
.GGVPNNKCGB .GGVPNNKCKB { float: left; }
.GGVPNNKCGB .GGVPNNKCLB { float: right; }
.GGVPNNKCGB .GGVPNNKCLB td:last-child div { margin-right: 0px; }
.GGVPNNKCO3B { color: rgb(102, 102, 102); }
.GGVPNNKCC4B { border-radius: 2px 2px 2px 2px; height: 22px; }
.GGVPNNKCC4B > span { position: relative; top: -2px; }
.goog-inline-block { position: relative; display: inline-block; }
.GGVPNNKCMS { background-color: rgb(42, 42, 42); border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); display: block; position: absolute; padding: 5px 7px; z-index: 10; white-space: nowrap; }
.GGVPNNKCMS:before, .GGVPNNKCMS:after { border-style: solid; content: ""; display: block; height: 0px; position: absolute; width: 0px; }
.GGVPNNKCMS.GGVPNNKCIS:before { left: 50%; margin-left: -7px; right: auto; }
.GGVPNNKCMS.GGVPNNKCIS:after { left: 50%; margin-left: -6px; right: auto; }
.GGVPNNKCMS.GGVPNNKCIS:before { border-color: rgb(255, 255, 255) transparent; border-width: 0px 7px 8px; top: -8px; }
.GGVPNNKCMS.GGVPNNKCIS:after { border-color: rgb(42, 42, 42) transparent; border-width: 0px 6px 7px; top: -7px; }
.GGVPNNKCEY { border: 1px solid transparent; color: rgb(255, 255, 255); background-color: rgb(209, 72, 54); background-image: -moz-linear-gradient(center top , rgb(221, 75, 57), rgb(209, 72, 54)); text-shadow: 0px 1px rgba(0, 0, 0, 0.1); text-transform: uppercase; }
.GGVPNNKCEY:hover { border-width: 1px; border-style: solid; border-color: rgb(176, 40, 26) rgb(176, 40, 26) rgb(175, 48, 31); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(197, 55, 39); background-image: -moz-linear-gradient(center top , rgb(221, 75, 57), rgb(197, 55, 39)); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); }
.GGVPNNKCEY:focus { box-shadow: 0px 0px 0px 1px rgb(255, 255, 255) inset; outline: 0px none transparent; }
.GGVPNNKCEY:active { background-color: rgb(176, 40, 26); border: 1px solid rgb(153, 42, 27); background-image: -moz-linear-gradient(center top , rgb(221, 75, 57), rgb(176, 40, 26)); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
.GGVPNNKCABB { position: relative; border-top: 1px solid transparent; border-bottom: 1px solid transparent; border-left: 1px solid transparent; margin-right: 0px; padding-right: 8px; }
.GGVPNNKCP5 { margin-right: 20px; }
.GGVPNNKCDCB .GGVPNNKCP5 { margin-right: 0px; }
.GGVPNNKCBBB { border-left: 1px solid rgb(77, 144, 240); }
.GGVPNNKCBBB:focus { outline: medium none; }
.GGVPNNKCCBB { padding: 4px; }
.GGVPNNKCCBB { padding-top: 4px; }
.GGVPNNKCK0B .GGVPNNKCCBB, .GGVPNNKCK0B .GGVPNNKCPAB { background-color: rgb(255, 255, 255); }
.GGVPNNKCIAB { width: 100%; }
.GGVPNNKCJAB { color: rgb(34, 34, 34); line-height: normal; }
.GGVPNNKCN4 { width: 34px; padding: 5px; }
.GGVPNNKCN5 { position: absolute; top: 4px; right: 0px; bottom: 4px; width: 16px; height: auto; }
.GGVPNNKCDCB .GGVPNNKCN5 { display: none; }
.GGVPNNKCBCB { border-bottom: 1px solid rgb(221, 221, 221); margin-bottom: 8px; }
.GGVPNNKCM3 { position: relative; padding: 4px 0px; }
.GGVPNNKCN3 { padding-left: 5px; margin-left: 39px; margin-right: 4px; }
.GGVPNNKCDCB .GGVPNNKCN3 { margin-right: 0px ! important; }
.GGVPNNKCOAB { font-size: 11px; float: right; line-height: 27px; }
.GGVPNNKCIAB td { vertical-align: top; }
.GGVPNNKCKAB { white-space: nowrap; }
.GGVPNNKCLAB { height: 1.5em; cursor: pointer; padding: 5px; white-space: nowrap; overflow: hidden; }
.GGVPNNKCDCB .GGVPNNKCLAB { padding-top: 6px ! important; }
.GGVPNNKCNAB { text-align: right; }
.GGVPNNKCLBB { color: rgb(136, 136, 136); height: 1.5em; overflow: hidden; line-height: 1.5em; }
.GGVPNNKCMBB { padding: 0px 4px; vertical-align: top; }
.GGVPNNKCMAB { border-bottom: 1px solid rgb(221, 221, 221); margin-bottom: 8px; padding-bottom: 8px; }
.GGVPNNKCC5 { font-weight: bold; }
.GGVPNNKCA5 { width: 15%; font-weight: bold; }
.GGVPNNKCP4 { width: 85%; }
.GGVPNNKCG5 .GGVPNNKCNBB { float: right; margin: 0px 6px; }
.GGVPNNKCDCB .GGVPNNKCG5 .GGVPNNKCNBB { float: left; margin: 0px 10px; }
.GGVPNNKCF5 .GGVPNNKCNBB, .GGVPNNKCG5 .GGVPNNKCNBB { position: relative; top: -4px; }
.GGVPNNKCA4 { float: right; white-space: nowrap; margin-top: 1px; }
.GGVPNNKCDCB .GGVPNNKCA4 { margin-top: 5px ! important; }
.GGVPNNKCE4 { display: inline-block; white-space: nowrap; text-align: center; height: 27px; }
.GGVPNNKCB4 { padding: 0px; }
.GGVPNNKCG4 { min-width: 0px; width: 13px; height: 27px; margin-right: 0px; }
.GGVPNNKCG4 img {  }
.GGVPNNKCJ5 { min-width: 34px; }
.GGVPNNKCOIB { font-weight: bold; white-space: nowrap; vertical-align: top; cursor: default; }
.GGVPNNKCF- { display: inline-block; height: 13px; padding: 5px; text-align: center; width: 13px; cursor: pointer; }
.GGVPNNKCF- .GGVPNNKCE- { background: url('star2.png') no-repeat scroll 0% 0% transparent; height: 13px; width: 13px; }
.GGVPNNKCHFD { padding-left: 5px; margin-left: 44px; }
.GGVPNNKCAID { position: relative; height: 34px; margin-top: 4px; }
.GGVPNNKCFID { position: absolute; top: 0px; left: 8px; height: 34px; right: 78px; }
.GGVPNNKCEID { text-decoration: underline; }
.GGVPNNKCBID { border-right: 1px solid rgb(217, 217, 217) ! important; border-width: 1px ! important; border-style: solid ! important; border-color: silver rgb(217, 217, 217) rgb(217, 217, 217) ! important; -moz-border-top-colors: none ! important; -moz-border-right-colors: none ! important; -moz-border-bottom-colors: none ! important; -moz-border-left-colors: none ! important; border-image: none ! important; -moz-box-sizing: border-box; border-radius: 1px 1px 1px 1px; background-color: white; color: rgb(153, 153, 153); padding: 8px 0px 0px 12px; position: absolute; top: 0px; right: 0px; left: 4px; height: 34px; }
