/* ::::: https://plusone.google.com/_/apps-static/_/ss/plusone/ver=-1rdw1otvhl3y4/am=!Aaw9TR0V_JYI_rVq/bf=wgE/r=O ::::: */

.a-l-k { position: relative; display: inline-block; }
* html .a-l-k, :first-child + html .a-l-k { display: inline; }
.c-Hv-Pe-Tza { margin: 0pt; padding: 0pt; }
.s5 { outline: 0pt none; text-decoration: none; display: block; }
.KF { width: 32px; height: 20px; }
.Uu .KF { background: url('sprite2.png') no-repeat scroll -132px -21px transparent; }
.Uu a.KF:hover { background: url('sprite2.png') no-repeat scroll -165px -21px transparent; }
.Uu a.KF:active { background: url('sprite2.png') no-repeat scroll -99px -21px transparent; }
.kU { color: rgb(102, 102, 102); display: inline-block; font: 11px/1 arial,sans-serif; white-space: normal; }
.sra { vertical-align: top; }
.tra { padding-left: 1px; }
.W8 { color: rgb(51, 102, 204); text-decoration: none; }
.U8 { vertical-align: top; padding-right: 5px; white-space: nowrap; }
.wW { border-collapse: collapse; display: table; }
.xW { display: table-row; }
.oA { border-spacing: 0pt; display: table-cell; font-size: 11px; padding: 0pt; text-align: left; }
.V8 { line-height: 10px ! important; }
