/* ::::: http://cdn.sstatic.net/stackoverflow/all.css?v=d4a5c7ca0d4c ::::: */

.peer1 { background-image: url('sprites.png'); background-position: -167px -153px; display: inline-block; height: 31px; width: 72px; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0pt; padding: 0pt; border: 0pt none; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
body { line-height: 1; }
ol, ul { list-style: none outside none; }
table { border-collapse: collapse; border-spacing: 0pt; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif; font-size: 80%; text-align: center; }
code { font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; background-color: rgb(238, 238, 238); }
textarea { font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; border: 1px solid rgb(153, 153, 153); font-size: 90%; }
.form-submit input:hover { cursor: pointer; }
input, select, button { border: 1px solid rgb(153, 153, 153); font-size: 100%; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; }
input { margin: 5px 0px; padding: 3px; }
pre { padding: 5px; font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; margin-bottom: 10px; background-color: rgb(238, 238, 238); overflow: auto; width: auto; max-height: 600px; }
.post-text pre > code:first-child, .wmd-preview pre > code:first-child {  }
pre {  }
b, strong { font-weight: bold; }
ul { list-style: disc outside none; margin-left: 30px; margin-bottom: 1em; }
p { clear: both; margin-bottom: 1em; }
a { color: rgb(0, 119, 204); text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a:visited { color: rgb(74, 107, 130); }
h1 { font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif; font-weight: bold; font-size: 170%; margin-bottom: 7px; line-height: 1.3; }
h2 { font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif; font-size: 140%; font-weight: bold; margin-bottom: 7px; line-height: 1.3; }
p code { padding: 1px 5px; }
.dno { display: none; }
.vt { vertical-align: top; }
.vm { vertical-align: middle; }
.fw { width: 100%; }
.votecell { width: 60px; vertical-align: top; }
#answers { clear: both; padding-top: 10px; width: 730px; }
#answers .subheader { margin-bottom: -10px; }
.answer { border-bottom: 1px solid rgb(170, 170, 170); width: 730px; padding-bottom: 20px; padding-top: 20px; }
.post-signature { padding-left: 5px; padding-top: 2px; text-align: left; vertical-align: top; width: 175px; height: 58px; }
.accept-rate { margin-left: 37px; margin-top: 3px; margin-bottom: 6px; }
.owner { background-color: rgb(224, 234, 241); }
.item-multiplier { font-size: 120%; font-weight: bold; margin-right: 4px; color: rgb(68, 68, 68); }
.reputation-score { font-weight: bold; color: rgb(68, 68, 68); font-size: 120%; margin-right: 2px; }
.relativetime { font-weight: bold; text-decoration: none; }
#notify-container { font-size: 130%; font-weight: bold; text-align: center; position: fixed; left: 0pt; top: 0pt; width: 100%; height: 0pt; z-index: 100; color: rgb(115, 80, 5); }
#notify-container div { background-color: rgb(244, 168, 61); border-bottom: 1px solid rgb(214, 128, 12); padding: 7px 0pt; }
#notify-container a { text-decoration: underline; color: rgb(115, 80, 5); }
#notify-container span.notify-close { background-color: rgb(250, 209, 99); float: right; margin-right: 20px; border: 2px solid rgb(115, 80, 5); padding-left: 4px; padding-right: 4px; text-decoration: none; display: block; cursor: pointer; }
#notify-container span.notify-close a { text-decoration: none; }
.lsep { margin: 0px 2px; color: rgb(204, 204, 204); font-size: 110%; }
.post-taglist { margin-bottom: 10px; clear: both; }
.post-menu { padding-top: 2px; }
.post-menu > a, .edit-tags-wrapper > span > a { padding: 0px 3px 2px; color: rgb(136, 136, 136); }
.post-menu > a:hover, .edit-tags-wrapper > span > a:hover { background-color: rgb(119, 119, 119); color: rgb(255, 255, 255); text-decoration: none; }
.post-menu .lsep { margin: 0px; padding: 0px; }
.comments { width: 660px; border-top: 1px dotted rgb(170, 170, 170); margin-top: 10px; padding-bottom: 10px; line-height: 135%; color: rgb(68, 68, 68); }
.comments > table { width: 100%; }
tr.comment > td { padding-top: 5px; padding-bottom: 5px; border-bottom: 1px dotted rgb(221, 221, 221); }
tr.comment:hover { background-color: rgb(250, 250, 250); }
.comment-text, .comment-form { vertical-align: text-top; padding: 0px 6px 0px 7px; }
a.comment-user { white-space: nowrap; padding: 0pt; }
a.comment-user.owner { padding: 2px 5px; }
.comment-date { color: rgb(153, 153, 153); }
#footer { color: rgb(68, 68, 68); background: none repeat scroll 0% 0% rgb(119, 119, 119); border-top: 7px solid rgb(0, 0, 0); clear: both; padding: 15px; margin-top: 30px; }
#footer-menu { color: rgb(153, 153, 153); float: left; font-size: 100%; line-height: 30px; width: 820px; }
#footer-menu a { color: rgb(255, 255, 255); }
#footer-sites { line-height: 20px; padding-bottom: 10px; }
#svnrev { margin-top: 5px; }
#copyright { color: rgb(68, 68, 68); clear: both; }
#copyright a { color: rgb(68, 68, 68); text-decoration: underline; }
.user-info { height: 35px; width: 185px; }
.user-info .user-gravatar32 { float: left; width: 32px; height: 32px; }
.user-info .user-action-time { margin-top: 2px; margin-bottom: 4px; }
.user-info .user-details { float: left; margin-left: 5px; width: 145px; overflow: hidden; white-space: nowrap; }
.user-details { color: rgb(136, 136, 136); line-height: 17px; }
#answers-header { width: 730px; margin-top: 10px; margin-bottom: 10px; }
#question-header { font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif; width: 960px; margin-bottom: 20px; border-bottom: 1px solid rgb(85, 85, 85); }
#question-header a { color: rgb(0, 0, 0); }
#question-header h1 { font-size: 180%; }
.question-hyperlink { font-weight: bold; }
.container { text-align: left; width: 100%; }
#custom-header { background-color: rgb(238, 238, 238); height: 31px; margin-bottom: -31px; }
#content { margin: 0pt auto; width: 960px; min-height: 450px; }
#hsearch { margin-right: -4px ! important; }
#hsearch .textbox { color: rgb(0, 0, 0); margin: 0px; width: 200px; max-width: 200px; border-right: medium none; border-width: 1px medium medium 1px; border-style: solid none none solid; border-color: rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; }
#header { width: 960px; height: 120px; margin: 0pt auto; }
#header #topbar { width: auto; padding: 3px 10px 0px; float: right; height: 30px; line-height: 22px; }
#header #hlogo { height: 61px; width: 250px; float: left; margin-top: 10px; }
#header #hmenus { width: 705px; float: left; padding: 34px 0px 20px 5px; margin-top: 10px; }
#header #topbar #hlinks { float: left; margin: 0px 35px 0px 0px; }
#hlinks { margin-right: 20px ! important; }
#hlinks a { font-weight: bold; }
#header #topbar #hsearch { float: left; }
.nav { float: left; font-size: 125%; }
.nav ul { margin: 0pt; }
.nav li { background: none repeat scroll 0% 0% rgb(119, 119, 119); display: block; float: left; margin-right: 7px; }
.nav .youarehere { background: none repeat scroll 0% 0% rgb(255, 153, 0); }
.youarehere a { color: rgb(255, 255, 255); }
.nav li:hover { background-color: rgb(255, 153, 0); }
.nav a { color: rgb(255, 255, 255); display: block; font-weight: bold; padding: 6px 12px; text-decoration: none; }
.askquestion { float: right; }
#nav-askquestion { margin-right: 0px; }
#sidebar { overflow: hidden; float: right; margin-bottom: 60px; width: 220px; }
#mainbar { float: left; margin-bottom: 40px; width: 735px; }
#feed-link { text-align: right; float: right; clear: both; margin-bottom: 15px; white-space: nowrap; }
#feed-link a { color: rgb(119, 119, 119); }
#feed-link-text { float: left; }
.subheader { border-bottom: 1px solid rgb(102, 102, 102); height: 34px; clear: both; margin-bottom: 15px; }
.subheader h1, .subheader h2 { float: left; font-size: 170%; line-height: 34px; margin-bottom: 0px; }
.subheader a { color: rgb(0, 0, 0); }
#tabs { float: right; font-weight: bold; }
#tabs a { background: inherit; border: 1px solid rgb(255, 255, 255); color: rgb(119, 119, 119); display: block; float: left; font-size: 90%; height: 24px; line-height: 22px; margin: 8px 8px 0pt 0pt; padding: 0pt 11px; text-decoration: none; }
#tabs a:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(119, 119, 119) rgb(119, 119, 119) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; line-height: 20px; margin-top: 9px; }
#tabs a.youarehere { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(119, 119, 119) rgb(119, 119, 119) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; color: black; font-size: 120%; height: 30px; line-height: 28px; margin-top: 3px; padding: 0px 11px; }
.question { clear: both; width: 730px; }
.vote-count-post { display: block; font-size: 240%; }
.cool { color: rgb(153, 153, 153) ! important; }
.module { color: rgb(68, 68, 68); padding: 0pt 8px 2px; margin-bottom: 10px; }
.module p.label-key { color: rgb(68, 68, 68); margin-bottom: 0pt; }
.module .spacer { margin-bottom: 8px; }
.module h4 { line-height: 1.4; font-size: 130%; padding-bottom: 7px; }
.newuser { background-color: rgb(255, 239, 198); color: rgb(115, 80, 5); border-radius: 5px 5px 5px 5px; padding-top: 8px; }
.newuser h4 { color: rgb(174, 0, 0); }
.newuser a { font-weight: bold; color: rgb(115, 80, 5); text-decoration: underline; }
.module p { font-size: 120%; line-height: 1.3; margin-bottom: 0.5em; }
.vote { text-align: center; }
.vote span { display: block; color: rgb(128, 129, 133); font-weight: bold; }
.favoritecount { text-align: center; color: rgb(128, 129, 133); }
.post-text { width: 660px; font-size: 107%; margin-bottom: 5px; margin-right: 5px; line-height: 130%; }
.post-text p { word-wrap: break-word; }
.form-item { padding: 10px 0px 15px; }
.form-submit { padding: 10px 0px 15px; display: block; }
.form-submit input { font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 130%; font-weight: bold; border: 1px solid rgb(136, 136, 136); padding: 2px; margin: 3px; }
.form-item label { display: block; font-size: 115%; font-weight: bold; color: rgb(51, 51, 51); padding-bottom: 3px; }
.edit-field-overlay { display: none; }
.post-editor { width: 660px; }
.community-option { float: right; color: rgb(136, 136, 136); font-weight: normal; font-size: 90%; height: 32px; }
.edit-block { display: none; }
.post-tag, .post-text .post-tag, .wmd-preview a.post-tag { color: rgb(62, 109, 142); background-color: rgb(224, 234, 241); border-bottom: 1px solid rgb(62, 109, 142); border-right: 1px solid rgb(127, 159, 182); padding: 3px 4px; margin: 2px 2px 2px 0pt; text-decoration: none; font-size: 90%; line-height: 2.4; white-space: nowrap; }
a.post-tag:hover, .post-text a.post-tag:hover, .wmd-preview a.post-tag:hover { background-color: rgb(62, 109, 142); color: rgb(224, 234, 241); border-bottom: 1px solid rgb(55, 96, 125); border-right: 1px solid rgb(55, 96, 125); text-decoration: none; }
.badgecount { padding-left: 1px; color: rgb(128, 129, 133); }
.everyonelovesstackoverflow { margin-bottom: 8px; }
.tagged { margin-bottom: 10px; margin-top: 5px; }
.related { line-height: 120%; font-size: 90%; }
.cbt { clear: both; }
.orcell { vertical-align: middle; padding: 0px 40px; }
.orword { position: absolute; margin-top: 40px; background-color: white; margin-left: -10px; padding: 5px; }
.orline { width: 1px; border-left: 1px solid rgb(153, 153, 153); height: 8em; margin: auto; }
.space { padding-top: 20px; }
.fl { float: left; }
.ar { text-align: right; }
.footerwrap { margin: 0pt auto; text-align: left; width: 960px; }
.str { color: rgb(128, 0, 0); }
.kwd { color: rgb(0, 0, 139); }
.typ { color: rgb(43, 145, 175); }
.lit { color: rgb(128, 0, 0); }
.pun { color: rgb(0, 0, 0); }
.pln { color: rgb(0, 0, 0); }
@media print {
  .str { color: rgb(0, 102, 0); }
  .kwd { color: rgb(0, 0, 102); font-weight: bold; }
  .com { color: rgb(102, 0, 0); font-style: italic; }
  .typ { color: rgb(68, 0, 68); font-weight: bold; }
  .lit { color: rgb(0, 68, 68); }
  .pun { color: rgb(68, 68, 0); }
  .pln { color: rgb(0, 0, 0); }
  .tag { color: rgb(0, 0, 102); font-weight: bold; }
  .atn { color: rgb(68, 0, 68); }
  .atv { color: rgb(0, 102, 0); }
}
.wmd-button-bar { height: 25px; width: 660px; clear: both; background-color: rgb(255, 255, 255); margin: 10px 0px 1px; }
.wmd-input { width: 660px; padding: 3px; height: 200px; line-height: 1.2; }
.wmd-preview { clear: both; padding: 3px; border: 2px dotted rgb(204, 204, 204); font-size: 107%; line-height: 130%; width: 660px; }
.wmd-button-row { position: relative; padding: 0px; height: 20px; margin: 0pt; }
.wmd-spacer { width: 1px; height: 20px; margin-left: 14px; position: absolute; background-color: Silver; display: inline-block; list-style: none outside none; }
.wmd-button { width: 20px; height: 20px; padding-left: 2px; padding-right: 3px; position: absolute; display: inline-block; list-style: none outside none; cursor: pointer; }
.wmd-button > span { background-image: url('wmd-buttons.png'); background-repeat: no-repeat; background-position: 0px 0px; width: 20px; height: 20px; display: inline-block; }
@media print {
  #sidebar, #nav, #tabs, #footer, #hmenus, #hlinks, .post-menu, .post-comments, .notify, form, div.vote { display: none; }
}
#hlogo a, .envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .edited-yes, a.cc-wiki-link, .feed-icon, .statsarrow, .vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty, .badge-earned-check, .delete-tag, .grippie, .expander-arrow-hide, .expander-arrow-show, .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .badge1, .badge2, .badge3, .add-interesting-tag-on, .add-interesting-tag-off, .fb-share, .twitter-share { background-image: url('sprites.png'); background-repeat: no-repeat; overflow: hidden; }
.fb-share { background-position: -148px -1000px; display: block; height: 20px; margin: 15px auto 4px; outline: medium none; text-indent: -999em; width: 24px; }
.twitter-share { background-position: -151px -1040px; display: block; height: 20px; margin: 0pt auto 4px; outline: medium none; text-indent: -999em; width: 24px; }
#hlogo a { width: 250px; height: 61px; display: block; background-position: 0px 0px; text-indent: -999999em; float: left; }
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off { background-position: 0px -265px; display: block; margin: 0pt auto; width: 41px; height: 25px; }
.vote-up-off, .vote-down-off, .vote-accepted-off, .star-off, .comment-up-off, .flag-off { cursor: pointer; }
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .flag-off, .vote-accepted-off, .vote-accepted-on { text-indent: -9999em; font-size: 1px; }
.vote-down-off { background-position: 0px -300px; }
.star-off, .star-on { background-position: 0px -150px; width: 33px; height: 31px; }
.vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty { background-position: 0px -560px; width: 39px; height: 40px; display: block; margin: 0pt auto; }
.vote-accepted-on { background-position: 0px -460px; }
#footer-flair { width: 130px; text-align: right; float: right; font-size: 90%; }
#footer-flair a { display: inline-block; vertical-align: top; text-indent: -999999em; }
a.cc-wiki-link { width: 50px; height: 67px; background-position: 0px -70px; }
span.feed-icon { background-position: 0px -840px; display: inline-block; width: 18px; height: 14px; text-decoration: none; vertical-align: middle; background-color: rgb(255, 255, 255); }
.badge1, .badge2, .badge3 { display: inline-block; width: 6px; height: 11px; overflow: hidden; line-height: inherit; background-position: -40px -1034px; vertical-align: text-bottom; margin: 0pt 1px 1px 3px; }
.badge2 { background-position: -20px -1034px; }
.badge3 { background-position: 0px -1034px; }
.lastactivity-link { color: inherit; background-color: transparent; }
#portalLink { margin-left: -6px; float: left; margin-top: 6px; }
#adzerk1 { height: 90px; }
a.genu { background: url('sprites.png') no-repeat scroll -55px -66px transparent; display: block; width: 120px; height: 18px; text-indent: -999em; outline: medium none; font-size: 1px; float: left; }
#overlay-header { border-bottom: 1px solid black; opacity: 0; display: none; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.95); font-size: 20px; font-weight: bold; left: 0px; padding: 5px 10% 10px; position: fixed; top: 0px; width: 80%; z-index: 250; box-shadow: 0px 1px 15px rgb(156, 156, 156); }
input[type="button"], input[type="submit"] { cursor: pointer; }
.was-this-helpful { padding: 0px 3px 2px; color: rgb(136, 136, 136); margin-top: 8px; line-height: 37px; }
.user-info.user-hover .user-gravatar32, .user-info.user-hover .user-gravatar48 { box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); border-collapse: separate; }
.comments {  }
