/* ::::: https://plusone.google.com/_/apps-static/_/ss/plusone/ver=-dy91lis8judq/am=!Aaw9TR0V_JYI_rVq/bf=wgE/r=O ::::: */

* html .a-l-k, :first-child + html .a-l-k { display: inline; }
.t5 { float: left; white-space: nowrap; }
.c-Hv-Pe-Tza { margin: 0pt; padding: 0pt; }
.s5 { outline: 0pt none; text-decoration: none; display: block; }
.LF { width: 24px; height: 15px; }
.Uu .LF { background: url('sprite2.png') no-repeat scroll -100px -42px transparent; }
.Uu a.LF:hover { background: url('sprite2.png') no-repeat scroll -125px -42px transparent; }
.Uu a.LF:active { background: url('sprite2.png') no-repeat scroll -75px -42px transparent; }
.MN, .LN, .KN { float: left; }
.uW, .vW { background: url('sprite2.png') no-repeat scroll 0% 0% transparent; float: left; }
.sW { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid none; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; float: left; }
.tW { color: rgb(102, 102, 102); font-family: arial,sans-serif; overflow: hidden; white-space: nowrap; }
.MN { padding-left: 2px; padding-right: 2px; }
.MN .uW { background-position: -150px -42px; height: 15px; width: 5px; }
.MN .vW { background-position: -184px -42px; height: 15px; width: 2px; }
.MN .sW { max-width: 37px; min-width: 5px; }
.MN .tW { font-size: 10px; margin: 1px 5px; height: 11px; line-height: 12px; }
