/* ::::: http://static.ak.fbcdn.net/rsrc.php/v1/y6/r/aFsiCq_zULP.css ::::: */

label { cursor: pointer; color: rgb(102, 102, 102); font-weight: bold; vertical-align: middle; }
label input { font-weight: normal; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); font-size: 11px; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; color: rgb(51, 51, 51); line-height: 1.28; margin: 0pt; padding: 0pt; text-align: left; direction: ltr; unicode-bidi: embed; }
a { cursor: pointer; color: rgb(59, 89, 152); text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: 0pt none; }
td, td.label { font-size: 11px; text-align: left; }
.clearfix:after { clear: both; content: "."; display: block; font-size: 0pt; height: 0pt; line-height: 0; visibility: hidden; }
.clearfix {  }
#facebook .hidden_elem { display: none ! important; }
body { overflow-y: scroll; }
.auto_resize_iframe { height: auto; overflow: hidden; }
button.as_link::-moz-focus-inner { border: 0pt none; padding: 0pt; }
.fbConnectWidgetTopmost { border-width: 1px; border-style: solid; border-right: 1px solid rgb(170, 170, 170); border-color: rgb(49, 92, 153) rgb(170, 170, 170) rgb(170, 170, 170); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; overflow: hidden; padding: 0pt; position: relative; }
div.ConnectActivityLogin { border-width: 0pt 0pt 1px; }
.fbConnectWidgetHeaderTitleBranded { background: none repeat scroll 0% 0% rgb(59, 89, 152); color: rgb(255, 255, 255); cursor: default; padding-bottom: 5px; padding-top: 7px; }
.fbLoginButton { float: left; }
.ConnectActivityLoginMessage { color: rgb(102, 102, 102); line-height: 14px; vertical-align: top; }
.fbConnectWidgetFooter { bottom: 0pt; cursor: default; position: absolute; width: 100%; }
.fbConnectWidgetFooter .fbFooterBorder { border-top: 1px solid rgb(204, 204, 204); margin: 0pt 6px; padding: 4px 3px; }
body.transparent_widget { background-color: transparent; overflow: hidden; }
body.plugin.transparent_widget { overflow-y: hidden; }
.connect_widget { background-color: transparent; }
.sp_4m1rvz { background-image: url('ich4o9b6qqe.png'); background-repeat: no-repeat; display: inline-block; height: 48px; width: 10px; }
.sx_a0c8a0 { width: 14px; height: 14px; background-position: -318px -439px; }
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover { background-image: url('ich4o9b6qqe.png'); background-repeat: no-repeat; background-position: 0pt -98px; background-color: rgb(238, 238, 238); border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153) rgb(153, 153, 153) rgb(136, 136, 136); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; box-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.1); cursor: pointer; display: inline-block; font-size: 11px; font-weight: bold; line-height: 13px; padding: 2px 6px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; }
.ff4.mac .uiButton { line-height: 14px; }
.uiButtonLarge, .ff4.mac .uiButtonLarge { line-height: 16px; }
.uiButton:hover { text-decoration: none; }
.uiButton:active, .uiButtonDepressed { background: none repeat scroll 0% 0% rgb(221, 221, 221); border-bottom-color: rgb(153, 153, 153); box-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.05); }
.uiButton .uiButtonText, .uiButton input { background: none repeat scroll 0% 0% transparent; border: 0pt none; color: rgb(51, 51, 51); cursor: pointer; display: inline-block; font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif; font-size: 11px; font-weight: bold; margin: 0pt; padding: 1px 0pt 2px; white-space: nowrap; }
.ff4.mac .uiButton .uiButtonText, .ff4.mac .uiButton input { margin-bottom: -1px; }
.ff4.mac .uiButtonLarge .uiButtonText, .ff4.mac .uiButtonLarge input { margin-bottom: 0pt; }
.uiButton input::-moz-focus-inner { border: 0pt none; padding: 0pt; }
.uiButtonConfirm { background-image: url('ich4o9b6qqe.png'); background-repeat: no-repeat; background-position: 0pt -49px; background-color: rgb(91, 116, 168); border-color: rgb(41, 68, 126) rgb(41, 68, 126) rgb(26, 53, 110); }
.uiButtonConfirm:active { background: none repeat scroll 0% 0% rgb(79, 106, 163); border-bottom-color: rgb(41, 68, 126); }
.async_saving .uiButton.uiButtonSpecial .uiButtonText, .async_saving .uiButton.uiButtonSpecial input, .async_saving .uiButton.uiButtonConfirm .uiButtonText, .async_saving .uiButton.uiButtonConfirm input, .uiButtonSpecial .uiButtonText, .uiButtonSpecial input, .uiButtonSpecial.uiButtonDisabled .uiButtonText, .uiButtonSpecial.uiButtonDisabled input, .uiButtonConfirm .uiButtonText, .uiButtonConfirm input, .uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input { color: rgb(255, 255, 255); }
.uiButtonLarge, .uiButtonLarge .uiButtonText, .uiButtonLarge input { font-size: 13px; }
.uiLinkButton input::-moz-focus-inner { border: 0pt none; padding: 0pt; }
.uiBoxWhite { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); }
.UIImageBlock_Content { display: table-cell; vertical-align: top; width: 10000px; }
.UIImageBlock_Image { float: left; margin-right: 5px; }
.UIImageBlock_Image .img, img.UIImageBlock_Image, i.UIImageBlock_Image { display: block; }
.UIImageBlock_ICON_Image { margin-right: 5px; }
.UIImageBlock_ICON_Content { padding-top: 1px; }
.lfloat { float: left; }
.rfloat { float: right; }
a.uiLinkSubtle { color: gray; }
.pts { padding-top: 5px; }
.phs { padding-left: 5px; padding-right: 5px; }
.phm { padding-left: 10px; padding-right: 10px; }
.pvm { padding-top: 10px; padding-bottom: 10px; }
.mrm { margin-right: 10px; }
.mhs { margin-left: 5px; margin-right: 5px; }
.fss { font-size: 9px; }
.fsl { font-size: 13px; }
.fwn { font-weight: normal; }
.fcg { color: gray; }
/* ::::: http://static.ak.fbcdn.net/rsrc.php/v1/yQ/r/eON8XG7AyrA.css ::::: */

.fan_box .connect_top { padding: 10px 10px 8px; }
.pts .fan_box .connect_top { padding: 5px 10px 8px 5px; }
.fan_box .profileimage { float: left; width: 40px; height: 40px; padding: 0pt 10px 0pt 0pt; margin: 0pt 0pt 4px; }
.fan_box .connect_action { padding: 0pt 0pt 0pt 8px; }
.fan_box .connect_action .name { line-height: 15px; font-size: 14px; font-weight: bold; }
.fan_box .connections { border-top: 1px solid rgb(216, 223, 234); padding: 10px 0pt 4px 10px; min-height: 150px; }
.pts .fan_box .connections { padding: 5px 0pt 4px 5px; }
.fan_box .connections .connections_grid { padding-top: 5px; }
.fan_box .connections_grid .grid_item { float: left; padding: 0pt 5px 8px 0pt; overflow: hidden; width: 50px; }
.fan_box .connections_grid .grid_item .name { font-size: 9px; color: gray; overflow: hidden; padding-top: 2px; text-align: center; white-space: nowrap; }
.fan_box .connect_widget .connect_widget_text { padding: 0pt; }
.fan_box .connect_widget td.connect_widget_vertical_center { height: 20px; }
.fan_box .connect_widget .connect_widget_interactive_area { margin: 5px 0pt 0pt; }
.connect_widget .connect_widget_interactive_area { border-collapse: collapse; }
.connect_widget td.connect_widget_vertical_center { border-spacing: 0pt; font-size: 11px; line-height: normal; padding: 0pt; }
.connect_widget td.connect_widget_button_cell { vertical-align: top; }
.connect_widget .connect_button_slider { position: relative; }
a.connect_widget_like_button { display: block; float: left; border-radius: 3px 3px 3px 3px; padding: 4px 5px; border: 1px solid rgb(0, 0, 0); }
a.connect_widget_like_button span { line-height: 14px; }
a.connect_widget_like_button:hover { text-decoration: none; }
.connect_widget_like_button .liketext { background: url('ql9vukdcc4r.png') no-repeat scroll -1px -33px transparent; color: rgb(59, 89, 152); display: block; padding-left: 17px; white-space: nowrap; }
.connect_widget .like_button_no_like .piece, .connect_widget .like_button_no_like { background-color: rgb(236, 238, 245); border-color: rgb(202, 212, 231); }
.connect_widget a.like_button_no_like:hover .piece, .connect_widget a.like_button_no_like:hover { background-color: rgb(235, 237, 244); border-color: rgb(157, 172, 206); }
.connect_widget .connect_text_wrapper { position: relative; }
.connect_widget div.connect_confirmation_cell { padding: 0pt; margin: 0pt; }
.connect_widget div.connect_confirmation_cell_no_like { padding-left: 7px; }
.connect_widget .connect_widget_text { display: block; padding-left: 17px; line-height: 14px; }
.connect_widget a.connect_widget_error_text { color: rgb(170, 0, 0); font-weight: bold; }
.transparent_widget .uiBoxWhite, .transparent_widget .fbConnectWidgetFooter { background-color: rgba(255, 255, 255, 0.2); }
.connect_widget_like_button .liketext { background: url('ql9vukdcc4r.png') no-repeat scroll -1px -33px transparent; }
.connect_widget a.like_button_no_like:hover .piece, .connect_widget a.like_button_no_like:hover { background-color: rgb(236, 238, 245); border-color: rgb(157, 172, 206); }
.connect_widget .tombstone_cross { background: url('ql9vukdcc4r.png') no-repeat scroll 0pt -128px transparent; display: block; float: left; height: 12px; margin-right: 3px; width: 14px; z-index: 99; }
.like_button_no_like .tombstone_cross { display: none; }
body.plugin { background: none repeat scroll 0% 0% transparent; overflow: hidden; }
.connect_widget { overflow: hidden; }
